!!! 5
%html
%head
  %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title= @title || Blog.title
  %link{:href => '/stylesheet/style.css', :rel => 'stylesheet', :type => 'text/css'}
  %link{:href => "/feed", :rel => "alternate", :title => "Primary Feed", :type => "application/atom+xml"}
%body
  #header
  %div{:id => (@big_title ? 'logo' : 'logo2')}
    %h1= link_to Blog.title, '/'
    %p= "by #{Blog.author}"
  #content= yield
  #footer
    #legal= "Content and design by #{Blog.author}"
